.text-area {
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #222f3e;
}

#lineCounter .content{
    -fx-background-color: #3a5065;
}

.menu-bar {
    -fx-background-color: #3a5065;
}
.menu-bar:hover{
    -fx-background-color: #3a5065;
}

.context-menu {
    -fx-background-color: #576574;
}

.menu-item {
    -fx-background-color: #576574;
}

#lineCounter {
    -fx-background-color: transparent;}
#lineCountVbox {
    -fx-background-color: transparent;
}